In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
birds = pd.read_csv('birds.csv')
birds.head()

In [ ]:

birds.info()

In [ ]:

birds.tail()

In [ ]:
birds.isnull()

In [ ]:
example1 = birds.dropna()
example1

In [ ]:
birds.dropna(axis='columns')

In [ ]:

birds.dropna(axis='rows', thresh=3)

In [ ]:
birds.fillna(0)

In [ ]:
birds.fillna(method='ffill')

In [ ]:
birds.fillna(method='ffill', axis=1)

#### Removing duplicate data

In [ ]:
birds.duplicated()

In [ ]:
birds.drop_duplicates()

In [ ]:
birds.drop_duplicates(['Family'])

In [ ]:
birds.shape

In [ ]:
birds.columns

In [ ]:
birds.info

In [ ]:
birds.describe

In [ ]:
birds.head()

In [ ]:
birds.head(10)

In [ ]:

birds.tail()

In [ ]:
birds.tail(10)

#### Missing Data

In [ ]:
birds.isnull()

In [ ]:
birds.notnull()

In [ ]:
birds.dropna()

In [ ]:
birds.fillna(2)

In [ ]:
birds.isnull().sum()

In [ ]:
birds.notnull().sum()

#### Dealing with missing data

In [ ]:
# Dropping null values
example3 = birds.dropna()
example3

In [ ]:
birds.dropna(axis='columns')

In [ ]:
birds.dropna(axis='rows', thresh=3)

#### Filling null values

In [ ]:
birds_data_values = birds.iloc[:, 7:14]

In [ ]:
birds_data_values

In [ ]:
birds_data_values.median()

In [ ]:
# The median of the first column is
birds_data_values.fillna(birds_data_values["MinLength"].median(),inplace=True)

In [ ]:
birds_data_values.fillna(0)

In [ ]:
# What happens if you try to fill null values with a string, like ''?
birds_data_values_filled = birds_data_values.fillna('')
birds_data_values_filled

In [ ]:
birds_data_values_fill = birds_data_values.fillna(method='ffill')

In [ ]:
birds_data_values.fillna(method='ffill', axis=1)

#### What output does example4.fillna(method='bfill', axis=1) produce?

##### When you apply the fillna() method to a DataFrame with the method='bfill' parameter and axis=1, it fills the missing values using backward fill along the columns. This means that each missing value is replaced with the next non-null value in the same column, moving from top to bottom.

#### What about example4.fillna(method='ffill') or example4.fillna(method='bfill')?

##### When you apply the fillna() method to a DataFrame with the method='ffill' parameter, it fills the missing values using forward fill. This means that each missing value is replaced with the last non-null value in the same column, moving from top to bottom.

##### Similarly, when you apply the fillna() method with the method='bfill' parameter, it fills the missing values using backward fill. This means that each missing value is replaced with the next non-null value in the same column, moving from top to bottom.

#### Can you think of a longer code snippet to write that can fill all of the null values in example4?

##### """ for column in df.columns: df[column] = df[column].fillna(0) """

### Encoding Categorical Data

In [ ]:
# LABEL ENCODING
label = pd.DataFrame([
                      [10,'business class'],
                      [20,'first class'],
                      [30, 'economy class'],
                      [40, 'economy class'],
                      [50, 'economy class'],
                      [60, 'business class']
],columns=['ID','class'])
label

In [ ]:
class_labels = {'business class':0,'economy class':1,'first class':2}
label['class'] = label['class'].replace(class_labels)
label

In [ ]:
# ONE HOT ENCODING
one_hot = pd.DataFrame([
                      [10,'business class'],
                      [20,'first class'],
                      [30, 'economy class'],
                      [40, 'economy class'],
                      [50, 'economy class'],
                      [60, 'business class']
],columns=['ID','class'])
one_hot

In [ ]:
one_hot_data = pd.get_dummies(one_hot,columns=['class'])

In [ ]:
one_hot_data

In [ ]:
# Removing duplicate data
example6 = pd.DataFrame({'letters': ['A','B'] * 2 + ['B'],
                         'numbers': [1, 2, 1, 3, 3]})
example6

In [ ]:
example6.duplicated()

In [ ]:
# Dropping duplicates: drop_duplicates
example6.drop_duplicates()

In [ ]:
example6.drop_duplicates(['letters'])