### Excercise 2: Getting and Knowing Your Data

##### Check out Occupation Exercises [Video Tutorial](https://www.youtube.com/results?search_query=Check+out+Occupation+Exercises+Video+Tutorial+to+watch+a+data+scientist+go+through+the+exercises) to watch a data scientist go through the exercises

##### This time we are going to pull data directly from the internet. Special thanks to: [JustMarkham](https://github.com/justmarkham) for sharing the dataset and materials.

In [1]:
# Step 1. Import the necessary libraries
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). 
### Step 3. Assign it to a variable called users and use the 'user_id' as index
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

In [ ]:
### Step 4. See the first 25 entries
users.head(25)

In [ ]:
### Step 5. See the last 10 entries
users.tail(10)

In [ ]:
### Step 6. What is the number of observations in the dataset?
users.shape[0]

In [ ]:
### Step 7. What is the number of columns in the dataset?
users.shape[1]

In [ ]:
### Step 8. Print the name of all the columns.
users.columns

In [ ]:
### Step 9. How is the dataset indexed?
# "the index" (aka "the labels")
users.index

In [ ]:
### Step 10. What is the data type of each column?
users.dtypes

In [ ]:
### Step 11. Print only the occupation column
users.occupation

#or

users['occupation']

In [ ]:
### Step 12. How many different occupations are in this dataset?
users.occupation.nunique()
#or by using value_counts() which returns the count of unique elements
#users.occupation.value_counts().count()

In [ ]:
### Step 13. What is the most frequent occupation?
#Because "most" is asked
users.occupation.value_counts().head(1).index[0]

#or
#to have the top 5

# users.occupation.value_counts().head()

In [ ]:
## Step 14. Summarize the DataFrame.
users.describe() #Notice: by default, only the numeric columns are returned.

In [ ]:
### Step 15. Summarize all the columns
users.describe(include = "all") #Notice: By default, only the numeric columns are returned.

In [ ]:
### Step 16. Summarize only the occupation column
users.occupation.describe()

In [ ]:
### Step 17. What is the mean age of users?
round(users.age.mean())

In [ ]:
### Step 18. What is the age with least occurrence?
users.age.value_counts().tail() #7, 10, 11, 66 and 73 years -> only 1 occurrence